Flask==1.0.3
Flask-Limiter==1.0.1
Flask-RESTful==0.3.7

grpcio
grpcio-tools
protobuf

jsonschema==3.0.1
redis
PyJWT==1.7.1

uWSGI==2.0.18
uwsgitop==0.11

graphene==2.1.8
Flask-GraphQL==2.0.0

-e git+https://deploy-token-olive:Gei1gXTWR_9HoUhXYeoM@git.zoodroom.com/basket/olive.git@master#egg=olive
