Flask==1.0.3
Flask-Limiter==1.0.1
Flask-RESTful==0.3.7

grpcio==1.22.0
grpcio-tools==1.22.0
protobuf==3.9.0

jsonschema==3.0.1
redis==3.2.1

uWSGI==2.0.18
uwsgitop==0.11

-e git+https://oauth2:Q8HLiBk95Rkqzy2Q7Kgh@git.zoodroom.com/basket/olive.git@master#egg=olive
